[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
pandas = "*"
psycopg2-binary = "*"
python-telegram-bot = "20.7"
beautifulsoup4 = "*"
pytest = "*"
requests = "*"
black = "*"

[dev-packages]
black = "*"
flake8 = "*"
flake8-import-order = "*"
mypy = "*"
pandas-stubs = "*"
types-requests = "*"
sqlalchemy-stubs = "*"
coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
